[2014-06-14 17:07] omasanori opened #1 "The "Signed-off-by:" line appended by -s/--signoff option is omitted."
When executing `git commit -s`, a line for "sign-off" is appended to the commit message. However, with committia.vim, the line is omitted.

Any other feature (e.g. complex commands using alias) adding something to commit messages automatically may be affected by this issue.

[2014-06-14 17:21] #1 closed, assigned to rhysd

[2014-08-10 13:20] tyru opened #4 "The content of '__committia_diff__' buffer is going to be '0' using commitia.vim with singleton.vim."
# 事象

singleton.vimとの併用で`__committia_diff__`バッファの内容が「0」になる。
# 原因

gitコマンドに`--git-dir`オプションが付いていないため、
カレントディレクトリ以下にリポジトリがあることが前提になっている。
# 解決法

パッと思い付いたのは以下の2つです。
1. 全ての`git`コマンドに`--git-dir`付けて回る
2. `git`コマンドを呼び出す時一時的にカレントディレクトリを変える

1を選んだ場合、以下のような懸念事項があります。
- `git <git-dir> diff -u --cached` みたいに置換文字列を埋め込む
- そもそも 'diff -u --cached' としてgitコマンドをとっぱらう
  - この場合`"git"`をなんらかの方法で指定する必要がある。グローバル変数とか
  - コマ

[2014-08-17 08:17] rhysd opened #6 "Do not fall back even if amending"
Related to #4.

[2014-08-17 10:16] #4 closed, assigned to rhysd

[2014-08-19 21:21] huyz opened #7 "open_singlecolumn error"
Just installed this for the first time.

I get these errors:

[code]

I don't know where to begin to investigate

[2014-08-20 03:58] #7 closed, assigned to rhysd

[2014-08-30 00:00] deris opened #8 "I want to return to the previous tab after committing."
タブが複数があると、committiaのタブでコミットした後に、元いたタブではなく別のタブに移動するので、元いたタブに戻るようにして欲しいです。

[2015-01-10 17:26] jeetsukumaran opened #10 "More control over single/multicolumn mode"
(1) Is there a way to manually toggle between single/multicolumn mode? E.g., when the Vim window first opens up, it might be narrow, but I might later expand the Vim window and then would like to switch to multicolumn mode. Or vice versa.

(2) Is there a way to force committia to open in one one mode or the other, regardless of the width of the window?

[2015-01-27 00:45] rhysd commented on #8
fc19400c9a536e853dc070d9dc4b99bf99794266

[2015-01-27 00:45] #8 closed

[2015-01-27 01:32] rhysd commented on #10
Now it is not possible.

Please set `'always'` to `g:committia_use_singlecolumn`.

[2015-01-27 01:32] #10 closed

[2015-04-10 19:11] sunaku opened #11 "E21: Cannot make changes, 'modifiable' is off"
I have been getting this error after upgrading recently:

[code]

Thanks. :angel:

[2015-04-11 03:18] rhysd commented on #11
I can't reproduce.  Could you tell me your configuration of committia.vim and show me the way to reproduce?

I guess you may already open commit buffer anywhere.

[2015-04-13 02:29] sunaku commented on #11
Sorry, you are correct. I deleted my `~/.vimrc` file, checked out this repository to `~/.vim`, and observed that the problem no longer occurs.  :scream: Sorry for the confusion. :confused:

[2015-04-13 03:35] sunaku commented on #11
I found that the [vim-diff-enhanced](https://github.com/chrisbra/vim-diff-enhanced) plugin was causing the problem! Removing it makes this plugin work correctly again. :sparkles:

[2015-04-13 04:29] rgrinberg commented on #11
Would be great to have a workaround for this as I really like the enhanced diff plugin.

[2015-04-13 08:42] rhysd commented on #11
@sunaku

Thank you for your investigation.  It seems that this plugin has a collision with vim-diff-enhanced.  I'll investigate the reason.

[2015-04-13 13:51] rhysd commented on #11
@sunaku @rgrinberg

I couldn't reproduce the error although I installed vim-diff-enhanced.  But I added a change to set `unmodified` before setting filetype on the basis of @sunaku's error log.  Could you update committia.vim and try it with vim-diff-enhanced?
If it doesn't still work,  please let me know the way to reproduce the error.

[2015-04-14 03:05] sunaku commented on #11
@rhysd The problem occurs when `source vim-diff-enhanced/plugin/EnhancedDiff.vim` is executed _before_ this plugin gets a chance to do its job.  For example, this happens when I have vim-diff-enhanced installed as a ["ftbundle" or filetype-specific bundle](https://github.com/sunaku/vim-unbundle#terminology) (whereby it is essentially `autocmd FileType * source vim-diff-enhanced/plugin/EnhancedDiff

[2015-05-20 11:01] inside opened #13 "Characters are inserted in the edit window when using startinsert in the edit_open hook"
The title says it pretty much I think, but here are the details:

* [vimrc file used](https://github.com/inside/dotfiles/blob/debug-committia/.vimrc-basic)
* screenshot of my terminal after typing git commit:
![screenshot of my terminal after typing git commit](http://i.imgur.com/9EGYfKx.jpg)

Any ideas on what's happening are appreciated. See below for my vim version.

Regards,
Yann

[code]

[2015-05-20 15:24] inside commented on #13
This is not due to the plugin. It can reproduced it with this in my vimrc (and without the plugin):

    autocmd BufReadPost COMMIT_EDITMSG startinsert

[2015-05-20 15:24] #13 closed

[2015-05-20 15:28] inside commented on #13
can't reproduce with this version of vim
[code]

I'll investigate further later.

Regards,
Yann

[2015-05-21 08:41] inside commented on #13
This mapping is the cause:

[code]

It was intended for me to learn jk to escape. So removing the mapping fixes this. Now I can use your plugin. Thanks for reading.

Regards,
Yann

[2015-05-21 10:52] rhysd commented on #13
Yes, you should not use such a config in terminal.

Vim receives input from terminal and can't distinguish user input and terminal control sequence.  So Vim applies mappings in the `<Esc>` in terminal control sequence.  Then terminal control sequence is dumped to Vim's buffer.

I think the problem doesn't occur when using gVim.

[2015-05-21 12:03] inside commented on #13
Thanks for the explanation! And you're right the problem doesn't occur in gVim.

[2015-05-26 20:01] GuillaumeSeren opened #14 "Commitia didn't show up on rebase (rewrite)"
Hello,
I use the committia plugin happily but find some case where it did not show up,
in particular when I rebase a branch like rewrite command.

I use Debian SID, and Vim 7.4 / Git 2.1.4.

I can make more test / give additional information if needed.

Regards,
Guillaume.

[2015-10-12 05:16] jeaye opened #16 "Can't be lazy loaded with neobundle"
I've created a neobundle ticket [here](https://github.com/Shougo/neobundle.vim/issues/434) with an example config showing that committia doesn't work/do anything if lazy loaded on filetype. Do you have any insight as to why this might be?

[2015-10-12 05:26] rhysd commented on #16
That's because commitia.vim does not watch filetype to determine to open the commitia windows.  It watches `BufReadPost`.  Please see [plugin/commitia.vim](https://github.com/rhysd/committia.vim/blob/master/plugin/committia.vim) for more detail.

I don't recommend loading this plugin lazily because I carefully designed this plugin to load first.  `plugin/commitia.vim` has only 18 lines and can be

[2015-10-12 05:26] #16 closed

[2015-10-18 16:06] rhysd opened #18 "Failure when some plugin is loaded by :NeoBundle with `explorer : 1`"
e.g.

[code]

[2015-10-18 16:12] rhysd commented on #18
Note that I discussed a bit with @Shougo in Lingr (Japanese).

http://lingr.com/room/vim/archives/2015/10/18#message-22619565

[2015-11-03 14:27] rhysd commented on #18
Filetype detection bug on `'explorer' : 1` seems to be fixed.  I think this issue is ready to be fixed.

https://github.com/Shougo/neobundle.vim/issues/442

[2015-11-14 07:22] zchee opened #19 "Result to deleted all file when HEAD commit is "Merge pull request...""
最終のcommitが"Merge pull request..."の際に上からcommitしますと、mergeコミットにはファイル情報がない？ためか、diffバッファの表示がgit管理化の全てのファイルが削除されていることになるようです。

committia.vimのコードを確認していないので、こちらの設定などの問題でしたら申し訳ないです。

[2015-11-14 07:35] zchee commented on #19
すみません、原因がそうではなかったようです。以後のcommitでもdeleteになってしまいます。
Mergedのせいなのか他なのか、調査してみます。

[2015-11-15 08:47] rhysd commented on #19
最後の commit が 447fb27 な commitia.vim で確認してみましたが，報告いただいたような症状は起きませんでした．
試したシーケンスは以下です．

1. 最新のコミットがマージコミットであることを確認
2. 適当な変更を入れる
3. git add → git commit

再現条件分かりましたら報告いただけると助かります．

[2015-11-17 08:14] electricnude commented on #19
本件、autochdir とは関係ないでしょうか？
ジブンの環境では、set autochdir 指定している場合、
STATUS Window と DIFF Window に正しく対象が表示されません

[2015-11-17 08:26] rhysd commented on #19
@electricnude

情報ありがとうございます．確かに `:set autochdir` すると壊れることが手元で再現出来ましたので，とりあえず別 issue として処理します．

[2015-11-17 08:31] rhysd opened #20 "`:set autochdir` breaks status window"
This was found in #19.

1. Write `set autochdir` in your `.vimrc`
2. `git commit`
3. All files are reported as 'deleted'

[2015-11-17 08:36] rhysd commented on #19
@electricnude

3bdbaa1 で少なくとも僕の環境では直りました．

@zchee

最新に更新しても再現するかどうか試してもらえると助かります．

[2015-11-17 09:38] electricnude commented on #19
早々にご対応いただきましてありがとうございます。
3bdbaa1、 364c9d1 双方にて確認しました。

DIFF Window は直りました! ありがとうございます。
STATUS Window は残念ながら変わらない状態です。
###### # 当方設定の問題である可能性が高いので、調査してみます

[2015-11-17 09:58] rhysd commented on #19
@electricnude

ご確認ありがとうございます．
今回の変更ではウィンドウを開く間は一時的に `set noautochdir` する処理を入れたので，status window の件については `autochdir` 関係ない可能性もあります．お手数ですが，`.vimrc` で `:set noautochdir` した状態でも再現するかどうか見てもらえませんでしょうか？

[2015-11-17 11:06] electricnude commented on #19
set autochdir 、set noautochdir 、未指定 を .vimrc に記した場合各々の挙動は以下のようになりました:

|  | STATUS Window | DIFF Window |
| ------------- |:-------------:|:-----:|
| `set autochdir` | x | o |
| `set noautochdir` |  o| o |
| OMIT | o  | o |

ご参考になれば幸いです

[2015-11-17 12:49] #20 closed

[2015-11-17 12:52] rhysd commented on #19
@electricnude

確認ありがとうございます．助かります．
原因が分かったので bef9b57 で修正しました．

原因は 'autochdir' がコミットバッファを開いた時に自動でカレントディレクトリを `.git` 下に持っていくからでした．一応 `:help autochdir` にも書いてありますが，Vim プラグインを使う際はあまりこのオプションは使わないほうが良いかもしれません．とりあえず `.git` 以下では `git status` で何故かすべてのファイルが deleted になるみたいですので，`.git` 外に一時的に `cd` するワークアラウンドを入れました．

[2015-11-17 14:09] rhysd commented on #19
@electricnude

`--work-tree` を教えてもらったので， f773219 で根本解決が出来た気がします．

[2015-11-17 14:50] electricnude commented on #19
ご対応いただきましてありがとうございます。
確認致しました:

|  | bef9b57 | f773219  | |
| ------------- |:-------------:|:-----:|:-----:|
| `set autochdir` | o | o(*) |
| `set noautochdir` |  o| o |
| OMIT | o  | o |

仰られるとおり、set autochdir 指定はイロイロ問題が発生するようですね。
にもかかわらず、ご対応いただきましてありがとうございました。
おかげさまで見やすくなりました。ありがとうございます。

----

以下、余談となります...
上表 (*)に関して、補足いたします:

ご対応いただきました現状で充分なのですが、
f773219 の場合(恐らく .git  相当の位置からの Status 確認になるよ

[2015-11-21 22:25] zchee commented on #19
返信気づくの遅れてしまいました…

あれから再現できなくなってしまって困っていたのですが、`set autochdir`が原因だったのですね。
確かに別件でsetしたりしていて今は外したので、理解できました。

`autochdir`が問題多いというのも知りませんでしたので勉強になります
ご丁寧に対応していただき、ありがとうございます。

[2015-11-22 05:04] rhysd commented on #19
@electricnude

ご連絡ありがとうございます．
cwd が移動してしまう以上，`../b` のようにパスがずれてしまうのは仕方ない（仕様）と思います．

@zchee

ご確認ありがとうございます．了解です！

[2015-11-22 05:04] #19 closed

[2016-02-04 17:29] davidosomething opened #21 "support MERGE_MSG"
i am currently using on open MERGE_MSG via

[code]

It opens successfully but does not close committia on `:wq`/`ZZ`

[2016-02-05 08:32] rhysd commented on #21
Hm, I'll try the config.  I want to add support for merge commits :smile:

[2016-02-05 11:29] simonweil opened #22 "Doesn't seem to work on neovim"
Hi,

I'm trying to get it working on neovim but it just hangs.

This is my init.vim:
[code]

Thanks in advance.

[2016-02-05 11:34] rhysd commented on #22
Could you give me more information?

1. GUI/CLI
2. OS
3. neovim version
4. when neovim hanging

[2016-02-05 14:48] simonweil commented on #22
Here:

1. TUI in iTerm2
2. OSX El Capitan
3. built by brew a week or 2 ago
[code]
4. writing `git commit`
vim opens and freezes.
[![asciicast](https://asciinema.org/a/71yd8arelo6uu9yqs7wdon5k5.png)](https://asciinema.org/a/71yd8arelo6uu9yqs7wdon5k5)

[2016-02-05 14:49] simonweil commented on #22
After all this I found the problem...
In `committia.vim/autoload/committia/git.vim:2` add `--no-ext-diff` to the git diff command fixes it as my default diff command uses an external program.

I can open a pull request on Sunday if you like.

[2016-02-05 17:03] rhysd commented on #21
@davidosomething

I enabled commitia.vim on merging commits.  Could you check the behavior?  Please do not forget removing your own config in .vimrc.

[2016-02-05 17:09] rhysd commented on #22
Thank you for the information (especially video :smile:).  I'll check this tomorrow.

I didn't consider the case when diff using external program.  So I'll check `nvim` or external diff program, which causes this bug.  If external diff program does,  I'll add `--no-ext-diff` as you kindly investigated.

[2016-02-05 17:35] davidosomething commented on #21
perfect! :clap:

[2016-02-05 17:35] #21 closed

[2016-02-06 05:05] rhysd commented on #22
I tested commitia.vim with `nvim` and it worked well also in my environment.  So I think adding `--no-ext-diff` is good.

[2016-02-06 05:13] #22 closed

[2016-02-06 05:14] rhysd commented on #22
I fixed this in 4b2e752.
If you notice that bug is still there, please ping me in this issue.

[2016-02-07 00:18] simonweil commented on #22
Works great, thank you :)
Now I'm only missing fugitive integration, but that's a different matter.

[2016-02-07 14:18] #6 closed

[2016-02-07 14:18] #14 closed

[2016-02-07 14:38] tyru commented on #6
:tada:

[2016-02-09 13:58] rafi commented on #11
I'm receiving this error too, but I'm _not_ using vim-diff-enhanced.
[code]

[2016-02-09 15:00] rhysd commented on #11
I couldn't reproduce this.  Could you please tell me the situation more?

- What command? `git commit`? `git commit --amend`? `git rebase`?
- OS

I will try adding workaround for this.

[2016-02-09 15:19] rafi commented on #11
* Command: `git commit`, or `git commit --amend`
* OSX 10.11.3
* Git 2.7.1

[2016-02-09 15:25] rhysd commented on #11
OK, thanks.

[2016-02-09 15:25] rhysd commented on #11
BTW, you seems to use single-column mode.  If you can, could you try double-column mode?

[2016-02-09 16:15] rhysd commented on #11
I tried adding workaround.  Please check it.

[2016-02-09 22:11] rafi commented on #11
The error doesn't appear, but I realized there's a problem with an extra buffer for each pane,
single-column:
![image](https://cloud.githubusercontent.com/assets/147918/12932247/892911c8-cf8a-11e5-9fee-8e74e30eece5.png)

double-column:
![image](https://cloud.githubusercontent.com/assets/147918/12932234/6e702db2-cf8a-11e5-9216-53cf1b9624e1.png)

[2016-02-09 23:56] rhysd commented on #11
Thank you for the screenshots.  Very helpful.  I reverted the commit at the present.

Windows seem to be opened twice.  Are you using :NeoBundleLazy to load commitia.vim?

[2016-02-10 00:43] rhysd commented on #11
I added a workaround which prevents committia.vim from opening windows twice.  Could you try this?

[2016-02-10 09:56] rafi commented on #11
@rhysd great, it works as expected!
However, the "edit window" isn't empty as shown in your double-column README screenshot. Looks good when it's empty...

[2016-02-10 11:02] rhysd commented on #11
Hmm... all contents except for preset commit message should be removed [here](https://github.com/rhysd/committia.vim/blob/master/autoload/committia.vim#L73)...

BTW, are you using `:NeoBundleLazy` to load committia.vim?

[2016-02-10 11:55] rafi commented on #11
Yes,
[code]

[2016-02-10 12:01] rhysd commented on #11
OK, I think it is the same reason as #18 and I may be able to reproduce this issue.

[2016-02-10 12:23] rhysd commented on #11
Could you try below?  I think the `'on_path': 'COMMIT_EDITMSG'` configuration doesn't work.

[code]

[2016-02-10 15:35] rafi commented on #11
It doesn't have a different effect. The "edit window" still includes the status and diff...

[2016-02-10 16:17] rhysd commented on #11
I tried `'exporler': 1`.

At fc80497, I confirmed "Cannot make changes, 'modifiable' is off" error.
And then after I updated to 4956c3e, it works well in my environment.  Edit window is correctly cleared at `git commit`...

[2016-02-10 16:24] rhysd commented on #11
Does it work with non-delayed loading?

[code]

[2016-02-10 16:34] rafi commented on #11
No, it still shows "edit window" full..

[2016-02-10 17:32] rafi commented on #11
When I look at `:messages`
[code]
It appears as if COMMIT_EDITMSG is loaded twice..

[2016-02-11 09:23] rhysd commented on #11
In my environment,  the message was shown only once...

![2016-02-11 18 21 11](https://cloud.githubusercontent.com/assets/823277/12972919/5c641832-d0ec-11e5-99d6-fd05a8392fc1.png)

Hmm... It's hard to fix the bug without reproducing :dog::sweat_drops:

[2016-02-11 09:33] rafi commented on #11
I will try to find a way to reproduce... thanks :)

[2016-02-11 21:22] Blue-Dog-Archolite opened #23 "Errors / Crash"
after running `git merge development` or any branch

`"~/dev/flight/.git/MERGE_MSG" 7L, 292C
Error detected while processing function committia#open..<SNR>162_open_multicolumn..<SNR>162_open_status_window..<SNR>162_open_window..committia#git#status:
line    8:
E605: Exception not caught: committia: git: Failed to execute status command: fatal: The empty string is not a valid path^@
Error detected

[2016-02-11 23:25] rhysd commented on #23
It looks bug of git.

Can you update git to latest and try again?

[2016-02-12 15:18] Blue-Dog-Archolite commented on #23
yep. Looks like that did it. Thanks. Fedora's git is stuck at 2.5.x

[2016-02-12 15:18] #23 closed

[2016-02-29 22:49] xiongchiamiov opened #25 "committia doesn't overwrite user-supplied textwidth"
I have `textwidth` specified in my `.vimrc` for normal operation.  However, I'd like committia to set the textwidth appropriately to 72 characters (or whatever it is, I forget) when I'm editing a commit message.  Is there a way to do this?

You can see my entire vimrc [here](https://github.com/xiongchiamiov/config/blob/master/.vimrc) in case it should already be working that way and it's something

[2016-03-01 12:41] rhysd commented on #25
committia.vim never change `textwidth`.  So you can set it with general way.  If you want to set `textwidth` only in Git commit buffer, please try below:

[code]

[2016-03-30 18:31] xiongchiamiov commented on #25
Thanks, that works just fine.  I swore it used to wrap at 72 before I set textwidth, though... oh well, doesn't matter.

[2016-03-30 18:31] #25 closed

[2016-06-11 08:08] thinca opened #27 "Shown strange status with git worktree"
Consider the following situation.

[code]

committia.vim shows the following in status window.

[code]

This is strange.  I want to use committia.vim with `git worktree`.

[2016-06-11 08:11] rhysd commented on #27
Thank you for the report.  commitia.vim currently doesn't consider `git worktree`.

[2016-11-06 14:55] jrock2004 opened #28 "Work with vim-fugitive"
So are you saying that I can use this with vim-fugitive? I have tried setting `let g:committia_open_only_vim_starting = 1` but when I do `:Gcommit` it brings up the default committing window

![image](https://cloud.githubusercontent.com/assets/655716/20038758/13657bfa-a407-11e6-95bf-acf465cac7af.png)

[2016-11-10 09:51] rhysd commented on #28
No. vim-fugitive opens commit buffer with uncommon way. So currently commitia.vim can't handle it correctly.
When `let g:committia_open_only_vim_starting = 1`, committia.vim do nothing on `:Gcommit`. Then you can avoid the collision between committia.vim and vim-fugitive.

[2017-01-17 02:06] #27 closed

[2017-01-17 02:10] thinca commented on #27
Thanks! 😄

[2017-02-02 10:21] ffesseler opened #32 "Error after updating commitia"
commitia worked fine until I updated the plugin yesterday.
When I type "git commit", I get an error :

[code]

This seems related to the changes introduced with #31 .

[2017-02-02 10:25] rhysd commented on #32
I'm always using HEAD of committia.vim but I've not seen this problem. Could you provide how to reproduce? And please let me know the version of `git`.

[2017-02-02 10:28] ffesseler commented on #32
I'm using git version 2.10.1 (Apple Git-78)

I'll try to find how to reproduce it. Right now, it happens on a private git repo.

[2017-02-02 10:30] rhysd commented on #32
`git status` command looks failed.

[code]

With this diff, you can see actual command which was executed with `:message`. Could you try this and try the same command in command line? Does it fail also?

[2017-02-02 10:31] rhysd commented on #32
If your repository is public, I think I can also try the situation.

[2017-02-02 10:31] rhysd commented on #32
ping @anekos: if you notice something, please help me to fix this.

[2017-02-02 10:40] ffesseler commented on #32
Command executed :
[code]
It works fine when using it in the command line. Here is the output :
[code]

[2017-02-02 10:42] rhysd commented on #32
[code]

Ah, it looks that NL remains in work tree directory path... I'll take a look.

[2017-02-02 10:42] ffesseler commented on #32
Wait, this is the command that actually fails :
[code]

[2017-02-02 10:43] rhysd commented on #32
Thanks.

[2017-02-02 10:55] rhysd commented on #32
I still can't understand what happens...

Could you try below diff? Something is ouput? If so, please let me see what was output.

[code]

[2017-02-02 11:01] ffesseler commented on #32
Here is the output
[code]

[2017-02-02 11:01] rhysd commented on #32
The `^@` represetns newline. So, actual command is:

[code]

I think it also fails in command line (if you try, please enter new line after ctrl+v in terminal)

[2017-02-02 11:02] rhysd commented on #32
@ffesseler Thank you. So I guess

[code]

returns the wrong work tree path.

[2017-02-02 11:04] ffesseler commented on #32
Indeed:
```git --git-dir="/Users/ffesseler/bla/.git" --work-tree="/Users/ffesseler/bla" -c color.status=false status -b```
works in command line
[code]

[2017-02-02 11:05] rhysd commented on #32
Could you tell me the output of

[code]

It changes how to interpret regex in `match()` in `s:extract_first_line()`.

[2017-02-02 11:06] rhysd commented on #32
@ffesseler Thank you for clarifying it. The newline `^@` looks root cause of this bug.

[2017-02-02 11:11] ffesseler commented on #32
:echo &magic outputs 1

[2017-02-02 11:16] rhysd commented on #32
Thanks. So `nomagic` is not related to this problem.

I submitted a commit 08b761a . Your system is macOS. So it may not be related to this problem, but could you try the latest?

[2017-02-02 11:28] rhysd commented on #32
And if you can, please tell me the output of below command:

[code]

[2017-02-02 11:33] ffesseler commented on #32
Same issue with the last version.
[code]
outputs :
'/Users/ffesseler/bla^@'

[2017-02-02 11:41] rhysd commented on #32
Does 3be483f fix this problem?

[2017-02-02 11:45] ffesseler commented on #32
Yes ! Works fine now :)

[2017-02-02 11:47] rhysd commented on #32
I found that `[^\n]\+` should have been `^[^\n]\+`, but 3be483f also works. Thank you for your cooperation. It was very helpful 👍

[2017-02-02 11:47] #32 closed

[2017-02-02 11:49] ffesseler commented on #32
Thanks to you for fixing this very quickly and for providing me some tips to help debugging !

[2017-03-18 15:26] jrock2004 opened #33 "Closing diff"
When I close the open diff, it does not take me back to what file was open. Am I missing something?

[2017-04-26 08:09] zacps opened #34 "Both images in the readme are broken"
[One](https://camo.githubusercontent.com/6d92a44bbace7c73141e6fa5a7a0c4b68713517d/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f323735333133382f73637265656e73686f745f636f6d6d69747469612e6a7067)
[Two](https://camo.githubusercontent.com/829856abefb4111697c255c1e4d314fde08b389f/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f323735333133382f7363726565

[2017-04-26 08:11] rhysd commented on #34
Thank you for catching that. I guess it's because Dropbox stops public directories...

[2017-04-26 08:13] zacps commented on #34
It's a githubusercontent link though, dropbox shouldn't have anything to do with it, should it?

[2017-04-26 08:15] rhysd commented on #34
githubusercontent is a cache URL and it is regularly expired. I think you can see README.md raw source. The links are for dropbox.com.

[2017-04-26 08:16] zacps commented on #34
Huh, it's also used for raw uploads (if you drop an image into an issue for
example.)

On 26 April 2017 at 20:15, Linda_pp <notifications@github.com> wrote:

[2017-04-26 08:20] #34 closed, assigned to nobody

[2017-06-21 11:47] tinyheero opened #35 "Window navigation using mappings"
I currently have the following in my `~/.config/nvim/init.vim`:

[code]

For easier window navigation. For what some reason these mappings do not work in the committia plugin. I have to use full keystrokes (e.g. `<C-w>h`) to move between the edit, diff and status windows. Is there a reason why these mappings don't work in committia?

[2017-06-21 11:51] rhysd commented on #35
Could you try below each commands while committia windows are shown?

[code]

What was shown in messages area for each commands?

[2017-06-21 11:54] tinyheero commented on #35
I got this:

[code]

I have the plugin `Plug 'christoomey/vim-tmux-navigator'` that allows for navigation between tmux and vim panes. This might be the reason why it's failing...

[2017-06-21 13:30] rhysd commented on #35
Yeah, I think disabling the plugin temporarily would solve this problem. I don't know what actually the plugin does. But I think overwriting mappings only in committia windows as following may solve this problem.

[code]

[2017-06-21 13:45] tinyheero commented on #35
Unfortunately, this didn't work. The issue only surfaces when I am inside a tmux session. I think the issue is in my `~/.tmux.conf` I have the following settings:

[code]

When I remove this, the quick window navigation works inside committia while inside a tmux session. The downside is that I can't use the mappings to navigate tmux panes...

[2017-06-21 14:38] rhysd commented on #35
I see. From `.vimrc`, there is no way to modify tmux config safely. The tmux config captures input sequence from you before Vim receives. Then I think you need to find other mappings like `<Space>h`, `<Space>j`, ...

[2017-06-22 14:10] tinyheero commented on #35
Thanks.

[2017-06-22 14:10] #35 closed

[2017-07-19 10:29] steinymity opened #36 "proper handling of "git commit --amend""
When calling "git commit --amend" the commit message window stays empty and does not show the former commit message for editing. Moreover, there is no way to abort the commit-amend, so the history is rewritten in any case.
Thanks for the great plugin and for working on this minor issue!
Best,
Maximilian

[2017-07-20 13:29] rhysd commented on #36
Yeah I noticed this. I marked this as bug and will try to fix this when I have a time

[2017-07-23 14:48] steinymity commented on #36
I just noticed that the same happens for merges — the automatic text does not show up.

[2017-08-16 14:46] steinymity commented on #36
Interestingly, for git commit --amend the original commit message is only missing in the large view, not in the one-column view.

[2017-11-23 17:25] DancingQuanta opened #37 "Does not work for vcsh or fake bare git technique"
I am using [vcsh](https://github.com/RichiH/vcsh) which allows me to version control my dotfiles with git.
`vcsh` works by (taking a line from its manpage)

So if I want to commit a change for a vcsh repo, I enter a vcsh environment then which have a different `$GIT_DIR` compared to `$GIT_WORK_TREE` for that repo.

`committia` chokes on this `$GIT_DIR` as shown in the following error upon committi

[2017-11-30 02:36] rhysd commented on #37
Thank you for your report. Yeah, committia.vim does not surrpot bare repository for now. But I can investigate how to support and if it's reasonable, I'll add the support. Anyway, investigation is needed.

[2017-11-30 09:27] DancingQuanta commented on #37
Yes, this is more complex use of bare repos. Actually it is called fake bare repos and so I have no idea if a bare repo is actually involved. You may need to look at how `vcsh` works to understand the fake bare thing.
There are other tools that understand this for example `liquidprompt` for bash can sense it is in a git repo which I assume is due to executing a git command. I don't know if you wan

[2018-01-04 15:11] rbialon commented on #37
`vcsh` should set the `GIT_DIR` and `GIT_WORK_TREE` environment variables.
I use an alias for managing my home files, similar to `vcsh` but simpler:
[code]

I was able to fix this issue by including
[code]
right after `function! s:search_git_dir_and_work_tree() abort` in `autoload/committia/git.vim`.

@DancingQuanta Can you check if this works with `vcsh`, too?

[2018-01-04 20:18] DancingQuanta commented on #37
Oh it is embarrassing, `vcsh` does not set the `GIT_WORK_TREE` variable although it is normally `VCSH_BASE=$HOME`.
I will have to contact the `vcsh`'s author about this.

[2018-01-28 09:24] rhysd commented on #36
Closing this because of #38.

[2018-01-28 09:24] #36 closed

[2018-01-31 16:52] xaizek opened #39 "All files are shown as deleted"
How to reproduce:
1. `git clone https://github.com/vifm/vifm.git`
2. `cd vifm`
3. `echo a >> AUTHORS`
4. `git commit -a`

I suspect that worktree was determined incorrectly, this would explain the effect.

[2018-02-16 11:41] thinca opened #40 "Git commit templete is removed"
~/.gitconfig
[code]

~/.git_commit_template
[code]

The content of `~/.git_commit_template` should be appear in edit window, but it is removed.
This issue is appeared from #38.

[2018-02-17 06:20] #40 closed

[2018-02-17 07:02] thinca commented on #40
Thanks!  I'll check it in monday!

[2018-02-19 05:33] thinca commented on #40
I checked it!  Perfect! Thanks!

[2018-02-19 05:47] rhysd commented on #39
I could not reproduce. I tried the sequence, but output is as follow:

[code]

It looks to work for me. I guess there are more preconditions for reproducing this.

[2018-02-19 09:49] xaizek commented on #39
Yes, it seems to not be repository specific. Not sure how I concluded otherwise initially. Try adding this to `vimrc`:
[code]
The problem seems to be that command:
[code]
run inside `.git` directory returns path to git directory and not to worktree.

[2018-02-19 10:29] rhysd commented on #39
Thank you for additional information in spite of long blank after this issue was created. Yeah, I think the `:lchdir` causes this issue. I need to investigate whether this issue is fixable.

[2018-02-20 03:33] #39 closed

[2018-02-20 03:34] rhysd commented on #39
@xaizek I tried to cover this usecase at 0f57324. Could you try the latest?

[2018-02-20 08:16] xaizek commented on #39
0f57324f9228c85c8c8bf83745bd166bd1346ba7 works fine for me, thank you!

[2018-02-20 21:55] xaizek opened #41 "Initial merge message is dropped"
Git provides first line for a merge message saying `Merge branch 'branch-name-here'`. In addition to that invoking `git merge` with `--log=999999` argument adds list of commits that are being merged into destination branch.

committia doesn't preserve this information. Is there a way to keep it? It pretty much needs to work for merges the same was as it already does for `git commit --amend`.

[2018-02-21 06:01] #41 closed

[2018-02-21 06:01] rhysd commented on #41
@xaizek Could you please check the latest?

[2018-02-21 08:38] xaizek commented on #41
Works as expected, thanks!

[2018-02-24 10:06] DancingQuanta commented on #37
The description of #42 said that #42 does not fix #37 because `vcsh` did not touch `GIT_WORK_TREE` but it does set `core.worktree` attribute in the repo's config. I will do some investigating on solutions. A project, [vim-fugitive/pull/575](https://github.com/tpope/vim-fugitive/pull/575), have been working for `vcsh`.

[2018-02-24 11:15] rbialon commented on #37
Yes, that's right. If `GIT_DIR` is set, the following will retrieve the workdir from the repo's config:
[code]

[2018-02-26 00:10] Alok opened #43 "invalid range error"
I get this error whenever I try to open up a commit.

[code]

[2018-02-26 02:08] rhysd commented on #43
Thanks for reporting this. I addressed this at 164db11. Could you please check the latest?

[2018-02-26 03:16] Alok commented on #43
Now I get this error:
[code]

[2018-02-26 04:37] #43 closed

[2018-02-26 04:37] rhysd commented on #43
I found a small logic error when no comment block is not existing in the default commit buffer. I guess c1961c8 fixed it.

[2018-02-26 06:45] rhysd commented on #37
So, should we also check `core.worktree` config value [here](https://github.com/rhysd/committia.vim/blob/master/autoload/committia/git.vim#L56)?

[2018-02-26 11:40] DancingQuanta commented on #37
I asked `vcsh`'s author about exporting `GIT_WORK_TREE` RichiH/vcsh#248. I like to wait for his answer.

[2018-02-27 01:47] rhysd commented on #37
Sure. I'll wait for response.

[2018-03-18 04:05] kiooss opened #44 "How to complete from the diff window?"
Is there a way let the buffer completion work from the diff window?

[2019-01-25 23:10] taylorthurlow opened #47 "Configure diff tool?"
I use [diff-so-fancy](https://github.com/so-fancy/diff-so-fancy) as my command line diff tool, configured with my `.gitconfig`. I'd like the ability to configure what program to call for generating diffs, if possible.

[2019-02-18 02:47] rhysd commented on #47
committia.vim shows diff in Vim's edit buffer with `filetype=diff`. `diff-so-fancy` is not available since it's command line tool. I'm not sure but if there is a Vim plugin which provides the same functionality as `diff-so-fancy` in Vim, you would be able to enable it at `filetype=diff` and committia.vim will use it.

[2019-03-13 19:38] #47 closed

[2019-03-14 20:36] PlasmaHH opened #48 "git commit -a not working properly for diff view"
Due to committia using --cached for the git diff command when doing a commit -a there is no diff result that will be displayed. Ideally committia should parse the text in the COMMIT_EDITMSG to figure out the files. Due to git using multiple languages it should probably have some way to configure what to look for, best is probably # <changed text in whatever language>:      <filename> and then have

[2019-03-14 22:11] xaizek commented on #48
I have latest committia.vim and git 2.14.5. I often do `git commit -a` and see diff, tried it just now and it's there.

[2019-03-15 07:56] PlasmaHH commented on #48
Are all files in the diff, or only those previously added via `git add` ?
Change just one file, don't `git add` and do a `git diff -u --cached --no-color --no-ext-diff` (the command that is run by committia). For me (git 2.20.1) this does not show any output. Also from the git manual:

[code]

[2019-03-15 08:30] xaizek commented on #48
All files.

Running `git diff -u --cached` before the commit and during the commit produces different results. If I do `:!cd .. && git diff -u --cached --no-color --no-ext-diff` while inside Vim to provide commit message, I see the diff. I guess it's because there are a bunch of `$GIT_*` environment variables setup in the editor by the `git` process.

[2019-03-15 09:22] PlasmaHH commented on #48
Okay, so for whatever reason they must have gotton lost in my case then I guess? Do you happen to know which ones are necessary so I can manually set, try and verify?

[2019-03-15 10:27] rhysd commented on #48
@PlasmaHH Could you show the steps to reproduce from `git init`? I think we should confirm reproduction at first.

e.g.

[code]

[2019-03-15 10:36] PlasmaHH commented on #48
@rhysd I guess you mean add test.txt and then commit -m and in the last line no add but commit.

I am trying to "negatively" reproduce this, the hint by xaizek about the environment seems plausible, when I can figure out what value to look for, set it and it works then, I can rule out this plugin and have to search for whatever is blocking that variable from getting through

[2019-03-15 10:45] xaizek commented on #48
I can tell you which ones I have set inside the editor:
* `GIT_DIR`
* `GIT_AUTHOR_DATE`
* `GIT_INDEX_FILE`
* `GIT_AUTHOR_NAME`
* `GIT_PREFIX`
* `GIT_AUTHOR_EMAIL`

The most important one seems to be `GIT_INDEX_FILE` as it points to `.../.git/index.lock`, which seems to be the index file with all changes staged. I confirmed that by re-exporting `GIT_INDEX_FILE` in a separate terminal while editor i

[2019-03-15 10:55] PlasmaHH commented on #48
Indeed that variable is missing, setting it will return to the expected behaviour. I will have to figure out why that variable went missing, probably one too many plugins messing with things...

Thanks for your time

[2019-03-15 10:55] #48 closed

[2019-03-15 11:32] rhysd commented on #48
@xaizek Thank you for the support.

[2019-03-15 12:06] xaizek commented on #48
@rhysd, my pleasure, I was surprised that something I regularly use supposedly can't work at all.

[2019-10-11 06:55] sourabhjains opened #49 "How to enable this feature during the rebase [edit, reword]"

[2019-10-11 08:30] rhysd commented on #49
Try g:committia_open_only_vim_starting

[2019-10-23 03:44] rhysd commented on #49
Closing as no response.

[2019-10-23 03:44] #49 closed

[2020-03-11 18:34] jaydorsey opened #50 "Add the ability to customize left window width"
The width of the left panel is a fixed width of 80, [here](https://github.com/rhysd/committia.vim/blob/d367190c7ffe95f4ac5d30b2e9da4cd9898579b9/autoload/committia.vim#L77)

It would be nice/useful if we could customize this, with
the default set to 80 to maintain behavior

I wrap my commit messages at 80 chars, but I also have some things
in the gutter that always show which leads to the commit me

[2020-03-22 16:04] lesguillemets opened #51 "Definitions for <Plug>(committia-scroll-diff-down) / up seem to be wrong"
There are two mappings not mentioned in the README, which should scroll one line in diff buffer, defined here
https://github.com/rhysd/committia.vim/blob/d367190c7ffe95f4ac5d30b2e9da4cd9898579b9/autoload/committia.vim#L15-L16

and here.
https://github.com/rhysd/committia.vim/blob/d367190c7ffe95f4ac5d30b2e9da4cd9898579b9/autoload/committia.vim#L21-L22

Sadly using these mappings results in `E21: Ca

[2020-05-14 08:19] #50 closed

[2021-10-25 14:17] sbeyer opened #55 "Does not work with amend"
Committia is not triggered for `git commit --amend`... I also did not find a config option for that. (Moreover, I think no config option would be necessary...)

[2021-11-07 12:57] tsakirist opened #56 "Does not work with filetype.nvim"
Hello!

I just installed [filetype.nvim](https://github.com/nathom/filetype.nvim) to speed-up my nvim startup time but unfortunately it seems that committia will not open when writing a commit message.

Any idea/fix for this?

[2021-11-29 02:48] macintacos commented on #28
Just a note, I think the same thing happens with [neogit](https://github.com/TimUntersberger/neogit).

[2021-12-04 16:56] nsfisis commented on #56
I had the same trouble and found the cause.

Environment:

* Neovim: v0.6.0
* committia.vim: commit 0b4df1a7f48ffbc23b009bd14d58ee1be541917c
* [filetype.nvim](https://github.com/nathom/filetype.nvim): [commit ddef0fa](https://github.com/nathom/filetype.nvim/commit/ddef0faedfb561ca2af141a35ab6f256beba8b5a)
* Package manager: [paq-nvim](https://github.com/savq/paq-nvim) ([commit 94503ec](https://git

[2021-12-04 17:49] rhysd commented on #56
@nsfisis Thank you for taking a look at this. It's really helpful. Let's wait for https://github.com/nathom/filetype.nvim/pull/54 being merged.

When plugins are installed in different directories, the order is the same as the order of directories in `runtimepath`. If they're in the same, the order is implementation-defined. But it actually seems an alphabetical order.

[2021-12-09 08:40] mmrwoods commented on #55
FWIW, I also find this very confusing. When I commit, I normally use the `--verbose` option so I see the changes I am committing while writing the commit message. The same applies when I amend a commit. Whether I am adding a new change to a commit or just fixing a typo, I still want to see all of the changes this commit will introduce as I amend the message.

Even when using `git commit --amend --

[2021-12-10 07:56] mmrwoods commented on #55
FYI, had a look at the plugin code to see how easy it would be to show the full diff when amending commits...

It should be simple to extract the diff from `COMMIT_EDITMSG` if available, falling back to running `git diff` if needed, but this would also require extracting the status from `COMMIT_EDITMSG` rather than running `git status`, otherwise the status and diff windows could be mismatched. Th

[2022-01-22 06:35] syphar commented on #56
https://github.com/nathom/filetype.nvim/pull/54 was merged, and now this plugin works again for me.

[2022-03-01 21:48] ahmetb opened #58 "Pictures on the readme are not legible"
The screenshots were not at all useful to me in terms of evaluating to use this tool or not. I hope you can reupload with higher resolution.

[2022-05-01 01:22] zhengpd opened #59 "work with neogit"
Hi, does anyone know how to set it up with neogit? Commiting from neogit does not trigger committia.

[2022-08-07 20:25] #56 closed

[2022-09-24 15:26] kinbiko commented on #36
@rhysd I don't understand how #38 addressed this issue, and `--amend` still doesn't show the diff. Is that intended behaviour now? Thank you 🙇

[2022-10-23 00:39] cultab commented on #59
I'm currently looking into this as I want to do the same thing, seems that commitia's autocmd is not being run when openning neogit's `COMMIT_EDITMSG` buffer.

[2022-10-24 06:03] rhysd commented on #59
I'm not user of neogit so I don't know how it works. committia.vim is triggered when `COMMIT_EDITMSG` or `MERGE_MSG` files are edited. To trigger manually, call `committia#open('git')`.

https://github.com/rhysd/committia.vim/blob/0b4df1a7f48ffbc23b009bd14d58ee1be541917c/plugin/committia.vim#L13

If neogit opens a commit buffer with other names, the following configuration may solve the issue:

[c

[2022-10-24 08:35] cultab commented on #59
shouldn't `vim.g.committia_open_only_vim_starting = 0` make committia open regardless of if vim is starting or not, did I missunderstand the following? https://github.com/rhysd/committia.vim/blob/0b4df1a7f48ffbc23b009bd14d58ee1be541917c/plugin/committia.vim#L8?

[2022-10-24 10:18] rhysd commented on #59
@cultab You're correct. Doesn't it work on your machine?

[2022-10-24 10:34] cultab commented on #59
@rhysd not exactly. Opening vim and then running `e COMMIT_EDITMSG` does not work. I don't even think the autocmd fires.

[2022-11-25 23:23] patrikpajas opened #61 "Error when ammending commit"
"committia: git: Failed to execute command" error when ammending the commit.

Error occures in the committia#git#diff() method, where the s:execute_git(g:committia#git#diff_cmd) is not wrapped with try/catch statement, as it has already been done in committia#git#status().

results in:
   [on](error: unable to load config blob object '9aaef36301288211cb852e26750493c74906fb3a'^@diff)

Please, wrap